{% extends "index.html" %}

{% block title %}
Información de la página web
{% endblock title %}


{% block texto_central %}
<div class="about-center" id="about">
<strong>Autor de la Práctica:&nbsp</strong> Sofia Lopez Lopez <br>
<strong>Grado:&nbsp</strong>Ingeniería en Sistemas de Telecomunicaciones + ADE<br>
<strong>Universidad:&nbsp</strong> Universidad Rey Juan Carlos, 2017
</div>
<br>

<p><strong>Parte basica: </strong></p>
<p> Como se puede observar aparece el banner en la parte superior izquierda en todas las paginas, junto al formulario de login, en el caso de que el usuario no haya iniciado sesion, o el mensaje de bienvenida personalizado</p>
<p> En la pagina principal nos encontramos detallados los aparcamientos mas populares. Con el boton accesibilidad, decidimos si tener en cuenta los populares y accesibles, o los populares, sin tener en cuenta si son o no accesibles.
</p>
<p>La pagina que muestra todos los aparcamientos permite realizar un filtrado por las diferentes caracteristicas del aparcamiento, ademas pinchando en el nombre, nos redirige a la url de dicho aparcamiento. Pinchando en +Info obtenemos los detalles del aparcamiento</p>
<p>La pagina de usuario permite personalizar esta cambiando el titulo y guardando las preferencias de colores y tamaño. Tambien nos permite ver el formato XML de esta pinchando en el enlace correspondiente</p>

<p><strong>Parte opcional:</strong></p>
<p>Se ha implementado favicon del sitio</p>
<p>Se ha implementado la posibilidad de ver el XML de los aparcamientos de la pagina principal</p>
<p>Se ha utilizado JavaScript para la creacion de tablas que permitan el paginado tanto en la pagina principal como en la pagina /aparcamientos. Dichas tablas han sido recogidas de <a href="https://startbootstrap.com/ ">Bootstrap</a></p>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>


<br>


{% endblock texto_central %}
