
{% extends "base.html" %}

{% block title %}
{% if DoesNotExist %}
El perfil buscado no se encuentra en la base de datos
{% else %}
{{usuario.nombre_pagina}}
{% endif %}
{% endblock title %}



{% block texto_central %}
{% if not DoesNotExist %}
    {% if user.is_authenticated  %}

    <a href="/usuario/xml/">Ir a la pagina XML del usuario </a>


    <form id="style_form" action="/usuario/personaliza/" method ="POST">
        {% csrf_token %}
        
        <span> Selecciona el estilo para <strong>{{user.username}}</strong></span>
        <input type="hidden" name="color" value="{{usuario.user.username}}">
        <label for="color"><span class="login_fields">Color de fondo: </span></label> <input id="id_username"  name="color" type="color" value="{{usuario.color}}"/>
        <label for="size"><span class="login_fields">Tamaño (%):
        </span></label> <input id="id_password" name="size" type="number" value = "{{usuario.size}}" min="1" max = "100" />

        <span> Selecciona el nombre de la página de <strong>{{user.username}}</strong></span>
        <label for="color"><span class="login_fields">Nombre: </span></label>
        <input id="id_username" maxlength="254" name="nombre_pagina" type="text" value="{{usuario.nombre_pagina}}"/>
        <button type="submit">Enviar</button>
    </form>
    {% endif %}
    <div id="texto_central">

        <div class="panel panel-default">
            <div class="panel-heading">
                Aparcamientos guardados
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Direccion</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for park in aparcamientos %}
                            <tr>
                                <td></td>
                                <td><a href="{{park.aparcamiento.url}}">{{park.nombre}}</a></td>
                                <td><strong>Dirección:</strong> {{park.distrito}}, {{park.barrio}}</td>                             
                                <td><a class="enlace_decorado" href="/aparcamientos/{{park.id}}">
                    + Info</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
{% endif %}
 {% endblock texto_central %}