
<?xml version="1.0" encoding="UTF-8"?>
<Contenidos>
 {% for park in aparcamientos %}
    <contenido>
    <tipo>EntidadesYOrganismos</tipo>
    <atributos idioma="es">
        <atributo nombre="ID-ENTIDAD">{{park.number}}</atributo>
        <atributo nombre="NOMBRE">{{park.nombre}}</atributo>
        <atributo nombre="DESCRIPCION">
        {{park.descripcion}}
        </atributo>
        <atributo nombre="ACCESIBILIDAD">{{park.accesibilidad}}</atributo>
        <atributo nombre="CONTENT-URL">
        {{park.url}}
        </atributo>
        <atributo nombre="LOCALIZACION">
            <atributo nombre="NOMBRE-VIA">{{park.via}}</atributo>
            <atributo nombre="LOCALIDAD">{{park.localidad}}</atributo>
            <atributo nombre="PROVINCIA">{{park.provincia}}</atributo>
            <atributo nombre="CODIGO-POSTAL">{{park.codigo_postal}}</atributo>
            <atributo nombre="BARRIO">{{park.barrio}}</atributo>
            <atributo nombre="DISTRITO">{{park.distrito}}</atributo>
            <atributo nombre="LATITUD">{{park.latitud}}</atributo>
            <atributo nombre="LONGITUD">{{park.longitud}}</atributo>
        </atributo>
        <atributo nombre="DATOSCONTACTOS">
            <atributo nombre="TELEFONO">{{park.telefono}}</atributo>
            <atributo nombre="EMAIL">{{park.email}}</atributo>
        </atributo>
        <atributo nombre="TIPO">/contenido/entidadesYorganismos/AparcamientosResidentes</atributo>
    </atributos>
</contenido>
{% endfor %}
</Contenidos>